/* button  */

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(8px);
}

.card {
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.typing-demo {
    width: 50ch;
    animation: typing 5s steps(25), blink 0.5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: monospace;
    font-size: 1em;
    color: rgb(172, 24, 93);
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


/* Style 7
   ----------------------------- */

.seven h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.seven h2:after,
.seven h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color: #f8f8f8;
}


/* === HEADING STYLE #5 === */

.five h4 {
    font-size: 15px;
    font-weight: 600;
    color: #202020;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.five h4 span {
    margin-top: 40px;
    text-transform: none;
    font-size: .75em;
    font-weight: normal;
    font-style: italic;
    font-family: "Playfair Display", "Bookman", serif;
    color: #999;
    letter-spacing: -0.005em;
    word-spacing: 1px;
    letter-spacing: none;
}