<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    HEALTH TOURISM
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/covid_box.css" rel="stylesheet"/>
  <link href="static/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="static/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        </a>
        <a class="simple-text logo-normal">
         MEDICAL TOURISM
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
         <li>
            <a href="{{ url_for('dash') }}">
              <i class="now-ui-icons design_app"></i>
              <p>HOME</p>
            </a>
          </li>
		   <li class="active ">
            <a href="{{ url_for('descriptive') }}">
              <i class="now-ui-icons education_atom"></i>
              <p>HEALTHCARE ANALYTICS</p>
		</a>
		 </li>
          <li>
            <a href="{{ url_for('aboutpage') }}">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>PREDICT FDI</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('contactpage') }}">
              <i class="now-ui-icons users_single-02"></i>
              <p>CONTACT US</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <h1 class="navbar-brand"> Healthcare in India</h1>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button> 
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- covid cases-->
      <div class="panel-header panel-header-lg">
        <div class="container">
  <div class="card1">
    <h3>Active Cases</h3>
    <p class="small"> Estimated Active cases in India since May 2020</p>
    {{ df.Confirmed.values[0] }}
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </div>
  
  <div class="card2">
    <h3>Cured cases</h3>
    <p class="small">Estimated Recovered cases in India Recent count</p>
    {{ df.Recovered.values[0] }}
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </div>
  
  <div class="card3" >
    <h3>Death cases</h3>
    <p class="small">Estimated Death cases in India since May 2020</p>
    {{ df.Deaths.values[0] }}
    <div class="dimmer"></div>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </div>
</div>
<!-- covid cases -->
      </div>
      <div class="content">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Hospital Bed Count </h5>
                <h4 class="card-title">Bed Counts in each state of India </h4>
                <div class="dropdown">
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartBedCount" width=200 height=80></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i ></i> stats
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">FDI on Healthcare</h5>
                <h4 class="card-title">Foreign investment for Healthcare sector</h4>
              </div>
              <div class="card-body">
                <div class="chart-area-chart">
                  <canvas id="lineChart"></canvas>
                  <canvas id="lineChart2"></canvas>
                  <canvas id="lineChart3"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> time series data
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Top Ranked Hospitals by District</h5>
                <h4 class="card-title">Ranking on basis of Hospital Count</h4>
              </div>
              <div class="card-body">
                <div class="chart-area-chart">
                  <canvas id="pieChart" width=88 height=80></canvas>
                  <hr>
                As the events of 2020 made clear, our lives and those of our loved ones may rest on the kind of health care we have access to. The 2,000 hospitals named in this list—which covers 25 countries, including United States, United Kingdom, Germany and Canada —stand out for their consistent excellence, including distinguished physicians, top-notch nursing care and state-of-the-art technology. The majority of the public healthcare system catering to the rural and remote areas relies on inexperienced and unmotivated interns who are mandated to spend time in public healthcare clinics as part of their curricular requirement. Other major reasons are long distances between public hospitals and residential areas, and inconvenient hours of operation
              </div>
                 </div>
                 <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons arrows-1_refresh-69"></i> Hospital data
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Best rated hospitals</h5>
                <h4 class="card-title"> Highly preferred hospitals</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Hospital
                      </th>
                      <th>
                        Score
                      </th>
                      <th>
                        City
                      </th>
                      <th class="text-right">
                        Hospital beds
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          All India Institute of Medical Sciences
                        </td>
                        <td>
                          98.1%
                        </td>
                        <td>
                          New Delhi
                        </td>
                        <td class="text-right">
                          2,478
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Medanta The Medicity
                        </td>
                        <td>
                          89.3%
                        </td>
                        <td>
                         Gurgaon
                        </td>
                        <td class="text-right">
                          1,250
                        </td>
                      </tr>
                      <tr>
                        <td>
                          The Christian Medical College
                        </td>
                        <td>
                          87.6%
                        </td>
                        <td>
                         Vellore
                        </td>
                        <td class="text-right">
                          2,297
                        </td>
                      </tr>
                      <tr>
                        <td>
                          PGIMER - Postgraduate Institute of Medical Education and Research
                        </td>
                        <td>
                          87.6%
                        </td>
                        <td>
                          Chandigarh
                        </td>
                        <td class="text-right">
                          1,479
                        </td>
                      </tr>
                      <tr>
                        <td>
                         	Apollo Hospital - Chennai
                        </td>
                        <td>
                       87.5%	
                        </td>
                        <td>
                        Chennai	
                        </td>
                        <td class="text-right">
                         606
                        </td>
                      </tr>
                      <tr>
                        <td>
                         		P. D. Hinduja National Hospital & Medical Research Centre
                        </td>
                        <td>
                      85.4%	
                        </td>
                        <td>
                        Mumbai	
                        </td>
                        <td class="text-right">
                         400
                        </td>
                      </tr>
                      <tr>
                        <td>
                        Breach Candy Hospital
                        </td>
                        <td>
                       84.3%	
                        </td>
                        <td>
                        Mumbai
                        </td>
                        <td class="text-right">
                         201
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
			  
            </div>
			
          </div>
      <footer class="footer">
        <div class=" container-fluid ">
          <nav>
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  SPARTANX CRUSE
                </a>
              </li>
              <li>
                <a href="http://presentation.creative-tim.com">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="https://www.invisionapp.com" target="_blank">TCE-SPARTANZ CRUSE</a>. Coded by <a href="https://www.creative-tim.com" target="_blank">DRT</a>.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="static/js/core/jquery.min.js"></script>
  <script src="static/js/core/popper.min.js"></script>
  <script src="static/js/core/bootstrap.min.js"></script>
  <script src="static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="static/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
  <script type = "text/javascript">
  var label = {{ label|tojson }}
  var data_1 = {{ data_1|tojson }}
  var data_2 = {{ data_2|tojson }}
  var data_3 = {{ data_3|tojson }}
  var data_4 = {{ data_4|tojson }}
  var data_5 = {{ data_5|tojson }}
  var index = {{ index|tojson }}
  </script>
<script type = "text/javascript" src="{{ url_for('static', filename = 'js/chart.js') }}"></script> 
</body>

</html>