
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    ABOUT US
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="static/demo/demo.css" rel="stylesheet" />
  <link href="static/css/styles.css" rel="stylesheet"/>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        </a>
        <a class="simple-text logo-normal">
         MEDICAL TOURISM
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{{ url_for('dash')}}">
              <i class="now-ui-icons design_app"></i>
              <p>HOME</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('descriptive')}}">
              <i class="now-ui-icons education_atom"></i>
              <p>HEALTHCARE ANALYTICS</p>
            </a>
          </li>
          <li class="active ">
            <a href="{{ url_for('aboutpage')}}">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>PREDICT FDI</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('contactpage')}}">
              <i class="now-ui-icons users_single-02"></i>
              <p>CONTACT US</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
             <div class="scroll-left">
            <marquee>  The Government of India Policy to encourage investment in the health care sector, government of India has allowed 100% FDI under the automatic route</marquee>
            <marquee>  Government has also accorded the infrastructure status to the hospitals and Lower tariffs on medical equipment</marquee>
                </div>
              <form action="" method="POST" class="tm-contact-form">
                        <div class="form-group">
                        <h2 class="tm-color-primary tm-section-title">Predict FDI in Health sector</h2>
                            <p>Select the year to be predicted </p>
                            <select name="classifier" id="classifier">
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            </select>
                            </div>
                        <div class="form-group">
                            <p> Select time series model</p>
                            <select name="classifier" id="classifier">
                            <option value="arima"> ARIMA </option>
                            <option value="autoreg">AUTO REGRESSION</option>
                            <option value="ma"> MOVING AVERAGE </option>
                            </select>

                        </div>
                        <br>
                        <br>
                        <div class="form-group mb-0">
                          <button type="submit" class="button" >
                              <center><b>Generate weather reports and predict</b></center>
                          </button>
                        </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="static/js/core/jquery.min.js"></script>
  <script src="static/js/core/popper.min.js"></script>
  <script src="static/js/core/bootstrap.min.js"></script>
  <script src="static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="static/demo/demo.js"></script>
</body>

</html>